<div class="container">
    @if(productId==100){
    <div class="row main">
        <div class="col-12 col-md-6 p-3">
            <img src="assets/img/veg.webp">
        </div>
        <div class="col-12 col-md-6 mt-3" >
            <h3>Mixed Vegetable</h3>
            <p><strong>Price : </strong>$10</p><br>
            <p><strong>Description : </strong>In botany, a fruit is the seed-bearing structure in flowering  plants that is formed from the ovary after flowering (see Fruit anatomy). Fruits are the means by which flowering plants</p><br>
            <p><strong>Review : </strong>500</p>
        </div>
    </div>
    }
    @if(productId==101){
        <div class="row main">
            <div class="col-12 col-md-6 p-3">
                <img src="assets/img/3.jpg">
            </div>
            <div class="col-12 col-md-6 mt-3">
                <h3>Grocery Items</h3>
                <p><strong>Price : </strong>$10</p><br>
                <p><strong>Description : </strong>In botany, a fruit is the seed-bearing structure in flowering plants that is formed from the ovary after flowering (see Fruit anatomy). Fruits are the means by which flowering plants</p><br>
                <p><strong>Review : </strong>500</p>
            </div>
        </div>
    }


    @if(productId==102){
        <div class="row main">
            <div class="col-12 col-md-6 p-3">
                <img src="assets/img/4.jpg">
            </div>
            <div class="col-12 col-md-6 mt-3">
                <h3>Mixed Fruit</h3>
                <p><strong>Price : </strong>$10</p><br>
                <p><strong>Description : </strong>In botany, a fruit is the seed-bearing structure in flowering plants that is formed from the ovary after flowering (see Fruit anatomy). Fruits are the means by which flowering plants</p><br>
                <p><strong>Review : </strong>500</p>
            </div>
        </div>
    }


    @if(productId==103){
        <div class="row main">
            <div class="col-12 col-md-6 p-3">
                <img src="assets/img/masala.webp">
            </div>
            <div class="col-12 col-md-6 mt-3">
                <h3>MAsala Items</h3>
                <p><strong>Price : </strong>$10</p><br>
                <p><strong>Description : </strong>In botany, a fruit is the seed-bearing structure in flowering plants that is formed from the ovary after flowering (see Fruit anatomy). Fruits are the means by which flowering plants</p><br>
                <p><strong>Review : </strong>500</p>
            </div>
        </div>
    }

    @if(productId==104){
        <div class="row main">
            <div class="col-12 col-md-6 p-3">
                <img src="assets/img/ref.jpg">
            </div>
            <div class="col-12 col-md-6 mt-3">
                <h3>Refrigerator</h3>
                <p><strong>Price : </strong>$10</p><br>
                <p><strong>Description : </strong>In botany, a fruit is the seed-bearing structure in flowering plants that is formed from the ovary after flowering (see Fruit anatomy). Fruits are the means by which flowering plants</p><br>
                <p><strong>Review : </strong>500</p>
            </div>
        </div>
    }

    @if(productId==105){
        <div class="row main">
            <div class="col-12 col-md-6 p-3">
                <img src="assets/img/washing.jpg">
            </div>
            <div class="col-12 col-md-6 mt-3">
                <h3>Washing Machine.</h3>
                <p><strong>Price : </strong>$10</p><br>
                <p><strong>Description : </strong>In botany, a fruit is the seed-bearing structure in flowering plants that is formed from the ovary after flowering (see Fruit anatomy). Fruits are the means by which flowering plants</p><br>
                <p><strong>Review : </strong>500</p>
            </div>
        </div>
    }

    @if(productId==106){
        <div class="row main">
            <div class="col-12 col-md-6 p-3">
                <img src="assets/img/ac.jpg">
            </div>
            <div class="col-12 col-md-6 mt-3">
                <h3>AC</h3>
                <p><strong>Price : </strong>$10</p><br>
                <p><strong>Description : </strong>In botany, a fruit is the seed-bearing structure in flowering plants that is formed from the ovary after flowering (see Fruit anatomy). Fruits are the means by which flowering plants</p><br>
                <p><strong>Review : </strong>500</p>
            </div>
        </div>
    }

    @if(productId==107){
        <div class="row main">
            <div class="col-12 col-md-6 p-3">
                <img src="assets/img/micro.jpg">
            </div>
            <div class="col-12 col-md-6 mt-3">
                <h3>Microwave</h3>
                <p><strong>Price : </strong>$10</p><br>
                <p><strong>Description : </strong>In botany, a fruit is the seed-bearing structure in flowering plants that is formed from the ovary after flowering (see Fruit anatomy). Fruits are the means by which flowering plants</p><br>
                <p><strong>Review : </strong>500</p>
            </div>
        </div>
    }

    @if(productId==108){
        <div class="row main">
            <div class="col-12 col-md-6 p-3">
                <img src="assets/img/hc1.webp">
            </div>
            <div class="col-12 col-md-6 mt-3">
                <h3>Floor Cleaning Mop with Bucket</h3>
                <p><strong>Price : </strong>$10</p><br>
                <p><strong>Description : </strong>In botany, a fruit is the seed-bearing structure in flowering plants that is formed from the ovary after flowering (see Fruit anatomy). Fruits are the means by which flowering plants</p><br>
                <p><strong>Review : </strong>500</p>
            </div>
        </div>
    }

    @if(productId==109){
        <div class="row main">
            <div class="col-12 col-md-6 p-3">
                <img src="assets/img/hc2.webp">
            </div>
            <div class="col-12 col-md-6 p-3">
                <h3>Hard Bristels.</h3>
                <p><strong>Price : </strong>$10</p><br>
                <p><strong>Description : </strong>In botany, a fruit is the seed-bearing structure in flowering plants that is formed from the ovary after flowering (see Fruit anatomy). Fruits are the means by which flowering plants</p><br>
                <p><strong>Review : </strong>500</p>
            </div>
        </div>
    }

    @if(productId==110){
        <div class="row main">
            <div class="col-12 col-md-6 p-3">
                <img src="assets/img/hc3.webp">
            </div>
            <div class="col-12 col-md-6 p-3">
                <h3>Floor Cleaning</h3>
                <p><strong>Price : </strong>$10</p><br>
                <p><strong>Description : </strong>In botany, a fruit is the seed-bearing structure in flowering plants that is formed from the ovary after flowering (see Fruit anatomy). Fruits are the means by which flowering plants</p><br>
                <p><strong>Review : </strong>500</p>
            </div>
        </div>
    }

    @if(productId==111){
        <div class="row main">
            <div class="col-12 col-md-6 p-3">
                <img src="assets/img/hc4.webp">
            </div>
            <div class="col-12 col-md-6 p-3">
                <h3>Mop-with-Bucket</h3>
                <p><strong>Price : </strong>$10</p><br>
                <p><strong>Description : </strong>In botany, a fruit is the seed-bearing structure in flowering plants that is formed from the ovary after flowering (see Fruit anatomy). Fruits are the means by which flowering plants</p><br>
                <p><strong>Review : </strong>500</p>
            </div>
        </div>
    }

    @if(productId==112){
        <div class="row main">
            <div class="col-12 col-md-6 p-3">
                <img src="assets/img/h1.jpg">
            </div>
            <div class="col-12 col-md-6 p-3">
                <h3>Up to 75% off | Boat</h3>
                <p><strong>Price : </strong>$10</p><br>
                <p><strong>Description : </strong>In botany, a fruit is the seed-bearing structure in flowering plants that is formed from the ovary after flowering (see Fruit anatomy). Fruits are the means by which flowering plants</p><br>
                <p><strong>Review : </strong>500</p>
            </div>
        </div>
    }

    @if(productId==113){
        <div class="row main">
            <div class="col-12 col-md-6 p-3">
                <img src="assets/img/h2.jpg">
            </div>
            <div class="col-12 col-md-6 p-3">
                <h3>Up to 75% off | Boult</h3>
                <p><strong>Price : </strong>$10</p><br>
                <p><strong>Description : </strong>In botany, a fruit is the seed-bearing structure in flowering plants that is formed from the ovary after flowering (see Fruit anatomy). Fruits are the means by which flowering plants</p><br>
                <p><strong>Review : </strong>500</p>
            </div>
        </div>
    }

    @if(productId==114){
        <div class="row main">
            <div class="col-12 col-md-6 p-3">
                <img src="assets/img/h3.jpg">
            </div>
            <div class="col-12 col-md-6 p-3">
                <h3>Up to 75% off | noise</h3>
                <p><strong>Price : </strong>$10</p><br>
                <p><strong>Description : </strong>In botany, a fruit is the seed-bearing structure in flowering plants that is formed from the ovary after flowering (see Fruit anatomy). Fruits are the means by which flowering plants</p>
                <p><strong>Review : </strong>500</p>
            </div>
        </div>
    }

    @if(productId==115){
        <div class="row main">
            <div class="col-12 col-md-6 p-3">
                <img src="assets/img/h4.jpg">
            </div>
            <div class="col-12 col-md-6 p-3">
                <h3>Up to 75% off | Zebronics</h3>
                <p><strong>Price : </strong>$10</p><br>
                <p><strong>Description : </strong>In botany, a fruit is the seed-bearing structure in flowering plants that is formed from the ovary after flowering (see Fruit anatomy). Fruits are the means by which flowering plants</p><br>
                <p><strong>Review : </strong>500</p>
            </div>
        </div>
    }
    
    <div row>
        <div class="col-12 bg-primary text-white p-2 text-center">
            <h3>People also like</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6 p-3">
            <img src="mango.jpg">
        </div>
        <div class="col-12 col-md-6 p-3">
            <h3>Mango</h3>
            <p><strong>Price : </strong>$10</p>
            <p><strong>Description : </strong>In botany, a fruit is the seed-bearing structure in flowering plants that is formed from the ovary after flowering (see Fruit anatomy). Fruits are the means by which flowering plants</p>
            <p><strong>Review : </strong>550</p>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-md-6 p-3">
            <img src="papaya.jpg">
        </div>
        <div class="col-12 col-md-6 p-3">
            <h3>Papaya</h3>
            <p><strong>Price : </strong>$8</p>
            <p><strong>Description : </strong>In botany, a fruit is the seed-bearing structure in flowering plants that is formed from the ovary after flowering (see Fruit anatomy). Fruits are the means by which flowering plants</p>
            <p><strong>Review : </strong>300</p>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6 p-3">
            <img src="kiwi.jpg">
        </div>
        <div class="col-12 col-md-6 p-3">
            <h3>Kiwi</h3>
            <p><strong>Price : </strong>$20</p>
            <p><strong>Description : </strong>In botany, a fruit is the seed-bearing structure in flowering plants that is formed from the ovary after flowering (see Fruit anatomy). Fruits are the means by which flowering plants</p>
            <p><strong>Review : </strong>600</p>
        </div>
    </div>
</div>