<div class="container">
    <h2>Person Details</h2>
    <table>
        <thead>
          <th>id</th>
          <th>Name</th>
          <th>Age</th>
          <th>Mobile No</th>
          <th>Action</th>
        </thead>
        <tbody>
            <!-- @for(x of result; track x){ -->
                <tr>
                    <td>{{ data.id }}</td>
                    <td>{{ data.fname }}  {{ data.lname }}</td>
                    <td>{{ data.age }}</td>
                    <td>{{ data.phone }}</td>
                    <td>
                        <button >Edit</button>
                        <button >Delete</button>
                    </td>
                </tr>
            <!-- } -->
      </tbody>ok so in studentproject then install in this , pgl insan kon se page me
    </table>
  </div>
  