

<section class="hero-section text-center" style="background-image: url('assets/img/home1.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center; height: 300px; width: 100%;">
    <div class="container">
    </div>
</section>

<section id="features" class="py-5">
    <div class="container-fluid">
        <h2 class="text-center">Product List</h2>
        <div class="row p-2">
            <div class="col-md-3 pb-0">
                <h4>Grocery Items for your home | Up to 55% off</h4>
                <div class="row pb-4">
                    <div class="col-6 pb-0">
                        <img src="assets/img/veg.webp">
                        <p>Vegetable.</p>
                        <a href="" (click)="viewDescription(100, $event)">Buy Now</a>
                    </div>
                    <div class="col-6 pb-0">
                        <img src="assets/img/3.jpg">
                        <p>Grocery</p>
                        <a href="" (click)="viewDescription(101, $event)">Buy Now</a>
                    </div>
                </div>
                <div class="row pb-4">
                    <div class="col-6 pb-0">
                        <img src="assets/img/4.jpg">
                        <p>Fruit</p>
                        <a href="" (click)="viewDescription(102, $event)">Buy Now</a>
                    </div>
                    <div class="col-6 pb-0">
                        <img src="assets/img/masala.webp">
                        <p>Masala.</p>
                        <a href="" (click)="viewDescription(103, $event)">Buy Now</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <h4>Appliances for your home | Up to 55% off</h4>
                <div class="row pb-4">
                    <div class="col-6">
                        <img src="assets/img/ref.jpg">
                        <p>Refrigerator.</p>
                        <a href="" (click)="viewDescription(104, $event)">Buy Now</a>
                    </div>
                    <div class="col-6">
                        <img src="assets/img/washing.jpg">
                        <p>Washing Machine.</p>
                        <a href="" (click)="viewDescription(105, $event)">Buy Now</a>
                    </div>
                </div>
                <div class="row pb-4">
                    <div class="col-6">
                        <img src="assets/img/ac.jpg">
                        <p>AC.</p>
                        <a href="" (click)="viewDescription(106, $event)">Buy Now</a>
                    </div>
                    <div class="col-6">
                        <img src="assets/img/micro.jpg">
                        <p>Microwave.</p>
                        <a href="" (click)="viewDescription(107, $event)">Buy Now</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <h5>Starting ₹299 | All your home improvement needs</h5>
                <div class="row pb-4">
                    <div class="col-6">
                        <img src="assets/img/hc1.webp">
                        <p>Floor Cleaning Mop with Bucket</p>
                        <a href="" (click)="viewDescription(108, $event)">Buy Now</a>
                    </div>
                    <div class="col-6">
                        <img src="assets/img/hc2.webp">
                        <p>Hard Bristels.</p>
                        <a href="" (click)="viewDescription(109, $event)">Buy Now</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <img src="assets/img/hc3.webp">
                        <p>Floor Cleaning.</p>
                        <a href="" (click)="viewDescription(110, $event)">Buy Now</a>
                    </div>
                    <div class="col-6">
                        <img src="assets/img/hc4.webp">
                        <p>Mop-with-Bucket.</p>
                        <a href="" (click)="viewDescription(111, $event)">Buy Now</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <h5>Up to 75% off | Headphones</h5>
                <div class="row pb-4">
                    <div class="col-6">
                        <img src="assets/img/h1.jpg">
                        <p>Up to 75% off | Boat.</p>
                        <a href="" (click)="viewDescription(112, $event)">Buy Now</a>
                    </div>
                    <div class="col-6">
                        <img src="assets/img/h2.jpg">
                        <p>Up to 75% off | Boult.</p>
                        <a href="" (click)="viewDescription(113, $event)">Buy Now</a>
                    </div>
                </div>
                <div class="row pb-4">
                    <div class="col-6">
                        <img src="assets/img/h3.jpg">
                        <p>Up to 75% off | noise.</p>
                        <a href="" (click)="viewDescription(114, $event)">Buy Now</a>
                    </div>
                    <div class="col-6">
                        <img src="assets/img/h4.jpg">
                        <p>Up to 75% off | Zebronics.</p>
                        <a href="" (click)="viewDescription(115, $event)">Buy Now</a>
                    </div>
                </div>
            </div>
        </div><br>
        <div class="row p-2">
            <div class="col-md-3">
                <h4>Up to 60% off | Styles for women</h4>
                <div class="row pb-4">
                    <div class="col-6">
                        <img src="assets/img/w1.jpg">
                        <p>Women's clothing.</p>
                        <a (click)="viewDescription(116, $event) ">Buy Now</a>
                    </div>
                    <div class="col-6">
                        <img src="assets/img/w2.jpg">
                        <p>Watch.</p>
                        <a href="" (click)="viewDescription(117, $event)">Buy Now</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <img src="assets/img/w4.jpg">
                        <p>Fashion Jewellery.</p>
                        <a href="" (click)="viewDescription(118, $event)">Buy Now</a>
                    </div>
                    <div class="col-6">
                        <img src="assets/img/w3.jpg">
                        <p>shoes & handbags.</p>
                        <a href="" (click)="viewDescription(119, $event)">Buy Now</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <h4>Automotive essentials | Up to 60% off</h4>
                <div class="row pb-4">
                    <div class="col-6">
                        <img src="assets/img/a1.jpg">
                        <p>Motorbike Care.</p>
                        <a href="" (click)="viewDescription(120, $event)">Buy Now</a>
                    </div>
                    <div class="col-6">
                        <img src="assets/img/a2.jpg">
                        <p>Motorbike Care.</p>
                        <a href="" (click)="viewDescription(121, $event)">Buy Now</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <img src="assets/img/a3.jpg">
                        <p>Motorbike Care.</p>
                        <a href="" (click)="viewDescription(122, $event)">Buy Now</a>
                    </div>
                    <div class="col-6">
                        <img src="assets/img/a4.jpg">
                        <p>Motorbike Care.</p>
                        <a href="" (click)="viewDescription(123, $event)">Buy Now</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <h5>Take any one | Up to 60% off</h5>
                <div class="row pb-4">
                    <div class="col-6">
                        <img src="assets/img/m1.jpg">
                        <p>Mobile.</p>
                        <a href="" (click)="viewDescription(100, $event)">Buy Now</a>
                    </div>
                    <div class="col-6">
                        <img src="assets/img/m4.jpg">
                        <p>Loker.</p>
                        <!-- <button class="btn btn-primary text-white" (click)="viewDescription(100)">Buy Now</button> -->
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <img src="assets/img/m5.jpg">
                        <p>Description of feature one.</p>
                        <!-- <button class="btn btn-primary text-white" (click)="viewDescription(100)">Buy Now</button> -->
                    </div>
                    <div class="col-6">
                        <img src="assets/img/m6.jpg">
                        <p>Description of feature one.</p>
                        <!-- <button class="btn btn-primary text-white" (click)="viewDescription(100)">Buy Now</button> -->
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <h5>Up to 75% off | Buy any one</h5>
                <div class="row pb-4">
                    <div class="col-6">
                        <img src="assets/img/i1.jpg">
                        <p>Description of feature one.</p>
                        <a href="" (click)="viewDescription(100, $event)">Buy Now</a>
                        <!-- <button class="btn btn-primary text-white" (click)="viewDescription(100)">Buy Now</button> -->
                    </div>
                    <div class="col-6">
                        <img src="assets/img/i2.jpg">
                        <p>Description of feature one.</p>
                        <!-- <button class="btn btn-primary text-white" (click)="viewDescription(100)">Buy Now</button> -->
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <img src="assets/img/i3.jpg">
                        <p>Description of feature one.</p>
                        <!-- <button class="btn btn-primary text-white" (click)="viewDescription(100)">Buy Now</button> -->
                    </div>
                    <div class="col-6">
                        <img src="assets/img/i4.jpg ">
                        <p>Description of feature one.</p>
                        <!-- <button class="btn btn-primary text-white" (click)="viewDescription(100)">Buy Now</button> -->
                    </div>
                </div>
            </div>
        </div><br>
        
    </div>
</section>

